[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "Tuna"

[packages]
feedparser = "==6.0.2"
Flask-JWT-Extended = "==4.0.2"
Flask-Migrate = "==2.6.0"
Flask-RESTful = "==0.3.8"
Flask-SQLAlchemy = "*"
Flask = "==1.1.2"
gevent = "==21.1.2"
gunicorn = "==20.0.4"
PyMySQL = "==1.0.2"
Flask-APScheduler = "==1.11.0"
jieba = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
